$colors: (
  neutral: (
    100: #fff,
    200: #e6e6e6,
    300: #ccc,
    400: #b3b3b3,
    500: #999,
    600: #808080,
    700: #666,
    800: #4d4d4d,
    900: #1f3049,
  ),
  primary: (
    100: #b3d1ff,
    200: #66a8ff,
    300: #338eff,
    400: #0066ff,
    500: #0052cc,
    600: #004099,
    700: #002766,
    800: #001433,
    900: #000a1a,
  ),
);